.header{
    text-align: center;
    background-color: rgb(245, 217, 180);
    padding: 5px;
    border-radius: 7px;
    font-size: 30px;
}
.navbar a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
}
.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.title{
    margin-top: 5px;
}
.budget{
    font-weight: bold;
    color: rgb(97, 93, 59);
}